/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
================================
Background
================================
*/

body {
  background-color : #21b2fe;
}

/*
================================
Header
================================
*/

header {
  background-color : #FCFBE3;
}

.main-header {
  letter-spacing: 16px;
  color : #382313;
  font-size: 60px;
  padding : 45px;
  text-align: center;
}

/*
================================
Sidebar
================================
*/


.sidebar {

  float : left;
  background-color : #c1ebdd;
  width : 300px;
  height : 900px;
  padding : 20px;
}

h3 {
  margin: 0 0 20px 0;
}

.trending {
  margin: 0 0 0 30px;
  list-style-type: circle;
}

/*
================================
Header
================================
*/

input {
  float : left;
  margin : 5px 5px 0 52px;
  border: 1px solid #999;
  border-radius: 8px;
  width: 420px;
  padding : 8px;
  font-size : 14pt;

  -webkit-appearance: none;
}

input:focus {
  outline : none;
}

/*
================================
Buttons
================================
*/

.tweet-submit {
  float : left;
  background-color : white;
  border-radius : 8px;
  border: 1px solid #999;
  height : 40px;
  width : 60px;
  margin : 5px 0;
  font-style : "Open Sans";
}

.tweet-submit:focus {
  outline : none;
}

.view-home {
  display : none;
}

.view-home,
.view-tweet {
  width : 500px;
  display : block;
  background-color : #21b2fe;

  color : white;
  float : left;
  padding : 10px 0;
  margin : 5px 52px 0 52px;
  border-style : solid;
  border-color : white;
  border-width : 1px;
  border-radius : 8px;
  font-size : 18px;
}

.view-home:hover,
.view-tweet:hover {

  background-color: white;
  border-color : #3D3D3D;
  color : #3D3D3D;
}

.view-tweet:focus {
  outline : none;
}

/*
================================
Tweet Stream
================================
*/

.user-stream {
  display : none;
}

.user-stream,
.tweet-stream {

  width : 500px;
  float: left;
  padding: 5px;
  margin : 0 0 0 48px;
 

}

/*
================================
Tweet Box 
================================
*/

.tweet-box:first-child {

  border-radius : 8px 8px 0 0 ;
} 

.tweet-box:last-child {
  border: 5px solid white;
  border-radius : 0 0 8px 8px;
}

.tweet-box {

  background-color : white;
  padding : 5px;
  margin : 2px 0;

}

.tweet-box:hover {
  background-color : #F5F7FD;
}

.time-stamp {
  display : inline-block;
  padding : 4px;
}

.user-name {
  display : inline-block;
  padding : 05px 20px;
}

.user-name:hover {
  cursor : pointer;
}

.tweet-message {
  padding : 8px 20px;
}



/*
================================
Tweet Box Typography
================================
*/

.time-stamp {
  text-align : right;
  font-size: 10px;
  color : #aaaaaa;
}

.user-name {
  text-align : left;
  font-size : 18px;
  color : black;

}

.tweet-message {
  font-size : ;
}

/*
================================
Typefaces
================================
*/

h3,
.trending,
.main-header,
.time-stamp {
  font-family : "Open Sans";
  font-weight : 300;
}

.view-tweet,
.user-name,
.tweet-message {

  font-family : "Open Sans";

}

h3 {
  font-size: 2em;
  font-weight: 500;
}

.trending {

}
