/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
================================
Background
================================
*/

body {
  background-color : #dddddd;
}

/*
================================
Header
================================
*/

header {
  background-color : #2C3B63;
}

.main-header {
  letter-spacing: 16px;
  color : white;
  font-size: 60px;
  padding : 45px;
  text-align: center;
}

/*
================================
Sidebar
================================
*/

.sidebar {

  float : left;
  background-color : #c1ebdd;
  width : 300px;
  height : 900px;
  padding : 20px;
}

/*
================================
View Tweets Button
================================
*/

.view-tweet {
  width : 500px;
  background-color : #595B69;
  display : block;
  color : white;
  float : left;
  padding : 10px 0;
  margin : 10px 52px;
  border-radius : 8px;
  font-size : 18px;
  border : 0;
}

.view-tweet:focus {
  outline : none;
}

/*
================================
Tweet Stream
================================
*/

.tweet-stream {

  background-color : #dddddd;
  width : 500px;
  float: left;
  padding: 12px;
  margin : 0 0 0 40px;
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  border-radius : 8px;

}

/*
================================
Tweet Box 
================================
*/

.tweet-box {
  background-color : white;
  padding : 5px;
  margin : 2px 0;

}

.tweet-box:first {
  border-top-right-radius: 8px;

}

.tweet-box:hover {
  background-color : #F5F7FD;
}

.time-stamp {
  display : inline-block;
  padding : 4px;
}

.user-name {
  display : inline-block;
  padding : 05px 20px;
}

.tweet-message {
  padding : 8px 20px;
}



/*
================================
Tweet Box Typography
================================
*/

.time-stamp {
  text-align : right;
  font-size: 10px;
  color : #aaaaaa;
}

.user-name {
  text-align : left;
  font-size : 18px;
  color : black;

}

.tweet-message {
  font-size : ;
}

/*
================================
Typefaces
================================
*/

.main-header,
.time-stamp {
  font-family : "Open Sans";
  font-weight : 300;
}

.view-tweet,
.user-name,
.tweet-message {

  font-family : "Open Sans";

}
